.base {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #021B3D;
    flex-grow: 1;
}

.container_login {
    max-width: 400px;
    max-height: 400px;
    padding: 20px;
    text-align: center !important;
    justify-content: center;
    background: #ffffff;
    box-shadow: 0 0 100px rgba(255, 255, 255, 0.2);
    border-radius: 0.3cm;
}

.elements {
    display: flex;
    flex-direction: column;
    color: #021B3D;
    max-width: 30vw;
}

.elements form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 35px;
}
.elements form input{
    margin: 3px 0px 3px 0px;
    height: 35px;
    border-radius: 8px;
    text-align: center;
}
.elements form button{
    background-color: #021B3D;
    color: white;
    border: 1px solid;
    margin: 3px 0px 3px 0px;
    height: 35px;
    width: 50%;
    border-radius: 8px;
    text-align: center;
    transition: filter 0.2s;
}


.elements form button:hover{
    filter: brightness(70%)
}