.base_login {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #021B3D;
    flex-grow: 1;
}

.box_login {
    max-width: 400px;
    max-height: 400px;
    padding: 20px;
    text-align: center !important;
    justify-content: center;
    background: #ffffff;
    box-shadow: 0 0 100px rgba(255, 255, 255, 0.2);
    border-radius: 0.3cm;
}

.elements_login {
    display: flex;
    flex-direction: column;
    color: #021B3D;
    max-width: 30vw;
}

.elements_login form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 35px;
}

.elements_login form input{
    margin: 3px 0px 3px 0px;
}

.elements_login form input::placeholder{
    color: #021B3D;
}

.elements_login form button{
    background-color: #021B3D;
    color: white;
    border: 1px solid;
    border-radius: 8px;
    margin: 3px 0px 3px 0px;
    width: 50%;
}

.textoLogin {
    margin-top: 15px;
    margin-bottom: -15px;
}
